<a href="/posts/<%= post.id %>"  class="post-card-with-image">
 
    <h2><%= post.title %></h2> 
    <br>
    Data: <%= post.createdAt %>
    <p></p>
       <br>
    <hr width="30%" align="LEFT">
    
    <br>
    <br>
    
    <div class="text-container">
    <%= post.description %>
    </div>
  
  <div class="post-image-container">    
     <% if (post.images[0]!=undefined) {%>
     <img src="<%=post.images[0]%>" width="200" height="200" class="post-image1"> 
     <% } %>
   </div> 
</a>